$top-gap: 5rem;
$bottom-gap: 10rem;

.team {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;

	.content {
		flex: 1;
		position: relative;

		.titleWrapper {
			background-color: var(--mantine-color-primary);
			text-align: center;
			padding-top: $top-gap;
			padding-bottom: $bottom-gap;

			.image {
				padding: 5rem;
				width: 100%;
				max-width: 35rem;
			}
		}

		.description {
			margin: 1rem;
			padding: 1rem;
			bottom: -13rem;
			background-color: var(--mantine-color-white);
			border-radius: 1rem;
			text-align: justify;
			box-shadow: 0 2px 19px -7px rgba(0, 0, 0, 0.75);
		}
	}
}

@media (min-width: 768px) {
	.team {
		.content {
			.description {
				margin: 0 5rem;
				bottom: 2rem;
			}
		}
	}
}

@media (min-width: 1024px) {
	.team {
		.content {
			.titleWrapper {
				padding-top: 3rem;
				padding-bottom: 1rem;
			}

			.description {
				margin: 0 20rem;
				bottom: 6rem;
			}
		}
	}
}