.events {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.content {
		flex: 1;

		.hero {
			padding: 2rem 0;
			text-align: center;
			background-color: var(--mantine-color-primary);

			.title {
				font-size: 2rem;
			}

			.subtitle {
				color: var(--mantine-color-dark-4);
			}
		}

		.eventsList {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.eventCard {
	flex: 0 1 17rem;
	margin: 3rem;
	text-align: center;
	color: var(--mantine-color-secondary);

	&:hover {
		.poster {
			transform: scale(1.05);
		}
	}

	.poster {
		width: 100%;
		transition: transform 0.7s ease;
	}

	.title {
		margin-top: 1rem;
	}

	.date {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1.5em;

		.dateText {
			margin-left: 0.4em;
		}
	}
}