.home {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.hero {
		flex: 1;
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;

		.wrapper {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			background-color: var(--mantine-color-primary);
			height: calc(100% - 15rem);

			.description {
				font-size: 1.5rem;
			}

			.cta {
				position: absolute;
				bottom: 8rem;
				width: calc(100% - 2rem);
				background-color: var(--mantine-color-secondary);
			}

			.image {
				display: block;
				width: 100%;
				order: -1;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home {
		.hero {

			.wrapper {
				justify-content: center;
				position: relative;
				padding: 10rem 2rem;

				.description {
					font-size: 2rem;
				}

				.cta {
					position: unset;
					width: 10rem;
				}

				.image {
					order: initial;
					width: 40rem;
					position: absolute;
					bottom: -10rem;
					right: -2rem;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.home {
		.hero {
			.wrapper {
				padding-left: 4rem;

				.description {
					max-width: 60rem;
				}

				.image {
					width: 50rem;
					bottom: -11rem;
					right: 0;
				}
			}
		}
	}
}